{% extends 'encyclopedia/layout.html' %}

{% block title%}
    create a new entry
{% endblock %}

{% block body %}
    <h2>Create a New Entry!</h2>

    <form style="width: 80%; margin-top: 2%;">     
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Entry Title</label>
          <input type="text" name ="title" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label for="content">Entry Text</label>
          <textarea class="form-control" name="text" id="content" rows="8"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark">Create a New Entry</button>
      </form>
{% endblock %} 